<meta name="viewport" content="width=device-width, initial-scale=1"/>
<div class= "flex-col mx-auto w-1/2 text-center"> 
    <h1 class="font-bold text-red-500 h-48"><%= Gallery %></h1>
    <div class ="h-24 w-24 flex-auto overflow-hidden object-contain">
    <% # Get all jpg and png images from app/assets/images %>
    <% images = Dir[Rails.root.join("app/assets/images/*.{jpg,png,jpeg,gif}")].map { |f| File.basename(f) } %>
    <% random_image = images.sample %>
    <%= image_tag random_image if random_image %>
    </div>
    <div><%= render "sessions/new"%></div>
</div>

